.app-bar {
	background-color: #1976d2;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.app-bar__logo {
	padding: 1rem 0.25rem 1rem 1rem;
}

.app-bar__body {
	padding: 1rem 1rem 1rem 0.25rem;
}
