.app-bar {
	background-color: var(--primary-color);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	padding: 0 1rem;
}

.app-bar__logo {
	width: 2.5rem;
	padding-right: 0.25rem;
}

.app-bar__body {
	flex: 2;
	padding: 0 0.25rem;
}

.app-bar__title {
	color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.app-bar__buttons {
	flex: 1;
	padding-left: 0.25rem;
	display: inline-flex;
	justify-content: flex-end;
}

.app-bar__button {
	color: var(--primary-text-color);
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-flex;
	align-items: center;
}

.app-bar__button:focus {
  outline: none;
}

.app-bar__button:not(:last-child) {
	margin-right: 0.75rem;
}
 