.app-bar {
	background-color: #1976d2;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.app-bar__logo {
	flex: 0.5;
	padding: 1rem 0.25rem 1rem 1rem;
}

.app-bar__body {
	flex: 2;
	padding: 1rem 0.25rem;
}

.app-bar__buttons {
	flex: 1.5;
	text-align: right;
	padding: 1rem 1rem 1rem 0.25rem;
}

.app-bar__button {
	color: #fff;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
}

.app-bar__button:focus {
  outline: none;
}

.app-bar__button:not(:last-child) {
	margin-right: 0.75rem;
}
 