/* 
 * Timertron-specific CSS
 */

#Timertron {
  display: inline;
}

#Timertron .feature-with-bottom-button-layout {
  height: calc(100% - 2.5rem); /* Subtract tab component height */
}

.shot-list {
  margin-top: 0.5rem;
  padding-left: 0;
  list-style-position: inside;
}

.info-block {
  margin-bottom: 0.75rem;
}

.info-block__label {
  margin-bottom: 0.25rem;
}

.info-block--flex--1 {
  flex: 1;
}

.info-block--flex--2 {
  flex: 2;
}

.info-block--flex--3 {
  flex: 3;
}

.info-block--margin-bottom--3x {
  margin-bottom: 3rem;
}

.info-block-flex-container {
  display: flex;
  flex-direction: row;
}

.info-block-flex-container > .info-block  {
  height: 100%;
  padding: 0 0.5rem;
}

.info-block-flex-container > .info-block:first-child  {
  padding-left: 0;
}

.info-block-flex-container > .info-block:last-child  {
  padding-right: 0;
}