.app-menu__cover {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

.app-menu__cover--active {
  display: block;
}

.app-menu {
  z-index: 10;
  height: 100%;
  position: fixed;
  right: -40%;
  top: 5rem;
  width: 40%;
  background-color: #434343;
  transition: right 0.25s 0s ease-in-out;
}

.app-menu--active {
  right: 0;
}

.app-menu__list {
  margin:  0;
  padding: 1rem;
  list-style: none;
  list-style-type: none;
}

.app-menu__list__item {
  margin-bottom: 1rem;
}

.app-menu__list__item__link,
.app-menu__list__item__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
}

.app-menu__list__item__link {
  text-decoration: none;
}

.app-menu__list__item__link--active {
  color: #1976d2;
}

.app-menu__list__item__label {
  padding-left: 0.5rem;
}

