.app-menu__cover {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 9;
  display: none;
}

.app-menu__cover--active {
  display: block;
}

.app-menu {
  z-index: 10;
  height: 100%;
  position: fixed;
  right: -45%;
  top: 5rem;
  width: 45%;
  background-color: #434343;
  transition: right 0.25s 0s ease-in-out;
}

.app-menu--active {
  right: 0;
}

.app-menu__list {
  margin:  0;
  padding: 1rem;
  list-style: none;
  list-style-type: none;
}

.app-menu__list__item {
  margin-bottom: 1rem;
  color: var(--text-color);
}

.app-menu__list__item:last-child {
  margin-bottom: 0;
}

.app-menu__list__item__link,
.app-menu__list__item__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color);
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
}

.app-menu__list__item__link {
  text-decoration: none;
  user-select: none;
}

.app-menu__list__item__label {
  padding-left: 0.5rem;
  color: var(--text-color-contrast);
}

.app-menu__list__item__icon {
  color: var(--text-color-contrast);
}

.app-menu__list__item__link--active,
.app-menu__list__item__link--active .app-menu__list__item__label,
.app-menu__list__item__link--active .app-menu__list__item__icon {
  color: var(--primary-color);
}


.app-menu__list-divider {
  height: 1px;
  border: none;
  margin: 0;
  background-color: var(--divider-color);
}

