.diag-info__body {
  display: none;
}

.diag-info__body--active {
  display: block;
}

.toggle-diag-info-button {
  color: #00000054;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
