html.font-size-xs {
  font-size: 50%;
}

html.font-size-s {
  font-size: 75%;
}

html,
html.font-size-m {
  font-size: 100%;
}

html.font-size-l {
  font-size: 125%;
}

html.font-size-xl {
  font-size: 150%;
}
