.layout--full {
  padding: 1.5rem;
}

.callout {
  margin-bottom: 2rem;
}

.callout:after {
  clear: both;
}

.callout__icon {
  float: left;
}

.callout__blurb {
  margin-left: 2.5rem;
}

.u-center {
  text-align: center;
}