

@import "./styles/vars.scss";
@import "./styles/util.scss";
@import "./styles/fonts.scss";
@import "./styles/typography.scss";
@import "./styles/themes.scss";
@import "./styles/forms.scss";
@import "./styles/blocks.scss";

html {
  overscroll-behavior-y: contain;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root,
#router {
  display: inline;
}

html,
body,
.app {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  background-color: var(--bg-color);
}
