/* TODO: convert to scss, break into separate files */
@import url('static/fonts/material-design-icons/material-icons.css');

@font-face {
  font-family: 'Roboto';
  src: local('Robot'),
    url('/static/fonts/Roboto/Roboto-Medium.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('/static/fonts/Roboto/Roboto-Bold.ttf'),
    format('truetype');
  font-weight: bold;
}

html {
  overscroll-behavior-y: contain
}

body {
  font-family: 'Roboto', sans-serif;
}

#root,
#router {
  display: inline;
}

html,
body,
.app {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/** TYPOGRAPHY **/
.txt__heading-1 {
  color: #FFF;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.txt__heading-2 {
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.txt--muted {
  color: #00000054;
}

.txt--smaller {
  font-size: 0.75rem;
}

.txt--embiggen--2x {
  font-size: 2rem;
}

.txt--embiggen--3x {
  font-size: 3rem;
}

.txt--embiggen--4x {
  font-size: 4rem;
}

/** FORMS **/
.form {
  display: inline;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;
  outline: none;
}

.button--primary {
  background-color: #1976d2;
  color: #FFF;
}

.button--primary:hover {
  background-color: #1e88e5
}

.button--primary:active {
  background-color: #1565c0;
}

.button--primary:focus {
  outline: 1px #1e88e5;
}

.button--danger {
  background-color: #f44336;
  color: #fff;
}

.button--danger:hover {
  background-color: #ef5350;
}

.button--danger:active {
  background-color: #e53935;
}

.button--danger:focus {
  outline: 1px #ef5350;
}

.button--yuge {
  width: 100%;
  font-size: 1.25rem;
}

.info {
  margin-top: 0;
}

.info-label {
  font-style: italic;
  display: inline-block;
}

.info-label:after {
  content: ": ";
  padding-right: 0.25rem;
}

.info-value {
  margin: 0;
  display: inline-block;
}

.info-list {
  margin: 0 0 0 0.25rem;
  padding: 0 0 0 1rem;
  list-style: square;
}

.button-container {
  height: 100%;
  display: flex;
}

.button-container > .button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.button-container > .button:first-child {
  margin-left: 0;
}

.button-container > .button:last-child {
  margin-right: 0;
}

.button--flex-1 {
  flex: 1;
}

.button--flex-2 {
  flex: 2;
}

.button--flex-3 {
  flex: 3;
}

/** THEME **/
